[submodule "COVID-19"]
	path = COVID-19
	url = https://github.com/CSSEGISandData/COVID-19.git
[submodule "coronavirus-machine-learning"]
	path = coronavirus-machine-learning
	url = https://github.com/lamharrison/coronavirus-machine-learning.git
[submodule "coronavirus_prediction"]
	path = coronavirus_prediction
	url = https://github.com/eladcn/coronavirus_prediction.git
